{% extends "layouts/base.html" %} 
{% set pageHeaderTitle = title %}
{% set pageSubTitle = sub_title %}
{% set pageImage = card.image %}
{# Grab other posts that aren’t this one for the 'more from the blog' feed #}
{% set recommendedPosts = helpers.getSiblingContent(collections.posts, page) %}
{% block content %}
{% include "partials/page-header.html" %}
<article class="post">
    <aside>
        {# include toc #}
        {# include tags #}
        {% if tags %}
        <section>
            <details>
                <summary>Tags</summary>
                <ul class="tags-list" aria-describedby="tags-desc">
                    {% for tag in tags %}
                <li>
                  <a href="/tag/{{ tag | slug }}/">#{{ tag | title | replace(' ', '') }}</a>
                </li>
              {% endfor %}
                </ul>
            </details>
        </section>
        {% endif %}
        <section>
            <p>This article was published on <time datetime="{{ date | w3DateFilter }}">{{ date | dateFilter }} ({{ date | fromNowDateFilter }})</time>.</p>
        </section>
    </aside>
    <div class="post-content">
        {{ content | safe }}
        {% set postListItems = recommendedPosts %}
        {% set postListHeadline = 'Other articles from the blog' %}
        {% include "partials/post-list.html" %}
    </div>
</article>
{% endblock %}