
    <ul>
        {% for item in postListItems %}
        <li class="card">
           <div class="image">
              <img src="{{ item.data.card.image }}" alt="{{ item.data.card.imageAlt }}">
           </div>
           <div class="card-body">
              <h2><a href="{{ item.url }}">{{ item.data.title }}</a></h2>
              <p>{{ item.data.description }}</p>
              <footer>
                 <h3>Date</h3>
                 <time date="{{ item.date | w3DateFilter }}">{{ item.date | dateFilter }}</time>
              </footer>
           </div>
        </li>
        {% endfor %}
  </ul>
